.form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-bottom: 30px;
    }

.formInput {
    width: 300px;
    border-color: #FFB366;
    border-radius: 10px;
}

.formBtn {
    width: 180px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #FFB366;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    }

.formBtn:hover,
.formInput:hover {
    background-color: #FFB366;
    color: #FFFFFF;
    box-shadow: 5px 5px 15px 5px #FF9933;
}

.formText {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}